/* services include */
.hybri-mobile-aap {
  background-image: linear-gradient(
    to bottom,
    rgb(0, 0, 26) 0%,
    rgb(0, 0, 26) 40%,
    rgb(4, 4, 8) 70%,
    black 100%
  );
  margin-top: 4.5rem;
  /* padding-bottom: 4rem; */
  /* margin-top: 100px; */
}
.hybri-mobile-aap .custom-iphone-services {
  border-top-left-radius: 35%;
  background-color: rgba(255, 255, 255, 1);
  transition: all 0.2s ease-in-out;
}


.hybri-mobile-aap .aap-consulting {
  border-top-right-radius: 35%;
  /* background-color: rgb(246, 135, 135); */
  background-color: rgba(255, 149, 35, 1);
  transition: all 0.2s ease-in-out;

}

.hybri-mobile-aap .aap-designe {
  border-bottom-left-radius: 35%;
  background-color: rgba(255, 149, 35, 1);
  transition: all 0.2s ease-in-out;

}
.hybri-mobile-aap .aap-designe:hover,
.hybri-mobile-aap .aap-consulting:hover{
  background-color: rgb(169, 91, 6);
  transform: scale(1.05);

}

.hybri-mobile-aap .aap-testing {
  border-bottom-right-radius: 35%;
  background-color: rgba(255, 255, 255, 1);
  transition: all 0.2s ease-in-out;

}

.hybri-mobile-aap .custom-iphone-services:hover,
.hybri-mobile-aap .aap-testing:hover{
  background-color: rgb(173, 171, 171);
  transform: scale(1.05);
  
}

.hybrid-second-part {
  text-align: center;
  margin-top: 2rem;
  max-width: 80%;
  margin: 1rem auto;
}
.hybrid-second-part-heading {
  font-size: 3.5rem;
  color: white;
  font-weight: 700;
  margin-bottom: 2rem;
}
.hybrid-second-part-subtitle {
  font-size: 1.4rem;
  color: white;
}
/* team data manages */
.expert-team {
  margin-left: 0px;
}
.agile-methodology {
  margin-left: 60px;
}
.customer-centric-approch {
  margin-left: 120px;
}

.cost-effective {
  margin-left: 180px;
}
@media (max-width: 768px) {
  .hybrid-second-part-heading {
    font-size: 2.2rem;
  }
  .hybrid-second-part-subtitle {
    font-size: 1.1rem;
    color: white;
  }
}
@media (max-width: 480px) {
  .hybrid-second-part-heading {
    font-size: 1.5rem;
  }
  .hybrid-second-part-subtitle {
    font-size: 0.9rem;
    color: white;
  }
}
@media (max-width: 560px) {
  .expert-team {
    margin-left: 0px;
  }
  .agile-methodology {
    margin-left: 0px;
  }
  .customer-centric-approch {
    margin-left: 0px;
  }

  .cost-effective {
    margin-left: 0px;
  }
}
